

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

html{
	font-size: 62.5%;
}

html, body {
	height: 100%;
}

@lightGrey: #dfdfdf;
@mediumGrey: #969696;
@darkGrey: #404040;
@myBlack: #262626;

@headingFont: 'Noto Sans', Sans serif;
@bodyFont: 'Open Sans', Sans serif;

body {

	font-family: @bodyFont;
	font-size: 1.6rem;
	color: @myBlack;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headingFont;
}
.wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85%;
}

header {

	nav {
		display: flex;
		justify-content: flex-end;

		a {
			color: @myBlack;
			text-decoration: none;
			outline: none;
			padding: 2% 4%;

			&:hover {
				background: @darkGrey;
				color: #fff;
			}
		}

	}

	.container {
		background: @mediumGrey;
		padding: 5%;

		img {
			max-width: 250px;
		}

		h1 {
			font-size: 4rem;
			margin: 2% 0;
		}
	
		h3 {
			font-size: 2.4rem;
		}

		hr {
			width: 100%;
			border: 1px solid @darkGrey;
			margin: 3% auto;
		}

		p {
			margin: 2%;
		}

		button {
			background: @darkGrey;
			color: #fff;
			font-size: 2rem;
			border: none;
			border-radius: 0.7rem;
			padding: 1% 2%;
			margin: 2%;

			&:hover {
				cursor: pointer;
			}

			&:active {
				outline: none;
			}
		}
	}
}

#about-me {
	display: flex;

	h2 {
		margin-bottom: 2%; 
	}

	.bio {
		width: 50%;
		padding: 3%;
	}

	.skills {
		width: 50%;
		padding: 3%;

		ul {
			font-size: 1.6rem;
			list-style: none;

			li {
				border: 1px dotted @lightGrey;
				padding:3%;
			}
		}
	}
}

.work-history {
	width: 100%;
	padding: 2%;

	h2 {
		margin-bottom: 2%; 
	}

	table {
		width: 100%;
		text-align: left;
		border-collapse: collapse;
		border: 1px solid @lightGrey;

		th {
			padding: 2%;
		}

		tr{
			padding: 2%;

			&:nth-child(even) {
			background: @lightGrey;
			}
		}

		td {
			padding: 2%;
		}

	}
}

footer {
	width: 100%;
	background: @darkGrey;
	color: #fff;
	text-align: center;
	margin-top: 4%;
	padding: 2% 0 5%;
}