

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

html{
	font-size: 62.5%;
}

html, body {
	height: 100%;
}

@lightGrey: #dfdfdf;
@mediumGrey: #969696;
@darkGrey: #404040;
@myBlack: #262626;

@headingFont: 'Noto Sans', Sans serif;
@bodyFont: 'Open Sans', Sans serif;

body {

	font-family: @bodyFont;
	font-size: 1.6rem;
	color: @myBlack;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headingFont;
}
.wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 85%;
}

header {


	nav {
		display: flex;
		justify-content: flex-end;

		a {
			color: @myBlack;
			text-decoration: none;
			outline: none;
			padding: 2% 4%;

			&:hover {
				background: @myBlack;
				color: #fff;
			}
		}

	}

	.container {
		background: @mediumGrey;
		padding: 5%;

		img {
			max-width: 250px;
		}

		h1 {
			font-size: 4rem;
		}
	
		h3 {
			font-size: 2.4rem;
		}

		hr {
			border: 1px solid @darkGrey;
			margin: 3% auto;
		}

		p {
			margin: 2%;
		}

		button {
			background: @darkGrey;
			color: #fff;
			font-size: 2rem;
			border: none;
			border-radius: 0.7rem;
			padding: 1% 2%;
			margin: 2%;

			&:hover {
				cursor: pointer;
			}

			&:active {
				outline: none;
			}
		}
	}
}